{% extends 'base.html' %}
{% block head %}
    <link rel="stylesheet" href="../../static/css/base.css" />
    <link rel="stylesheet" href="../../static/css/Welcome.css" />
    <link rel="Stylesheet" href="../../static/css/Blog-Specific-Page.css" />
    <link rel="Stylesheet" href="../../static/css/Book-Detail-Page.css" />
    <link rel="stylesheet" href="../../static/css/book-list-for-sellers.css" />
    <link rel="stylesheet" href="../../static/css/Buy-Contents-Main-Page.css" />
    <link rel="stylesheet" href="../../static/css/Forum-Main-Page.css" />
    <link rel="stylesheet" href="../../static/css/initiate-payment.css" />
    <link rel="stylesheet" href="../../static/css/Login.css" />
    <link rel="stylesheet" href="../../static/css/My-Account.css" />
    <link rel="Stylesheet" href="../../static/css/My-cart.css" />
    <link rel="stylesheet" href="../../static/css/My-Order-History.css" />
    <link rel="stylesheet" href="../../static/css/Sell-Section.css" />
    <link rel="stylesheet" href="../../static/css/SignUp.css" />
{% endblock %}
{% block script %}
    <script src="../../static/js/Header-Functionality.js"></script>
    <script src="../../static/js/My-Account-Functionality.js"></script>
    <script src="../../static/js/My-Cart-Functionality.js"></script>
{% endblock %}
{% block main %}
    <div class="header-class">
        <button id="logo" style="background:None; border:None" onclick="onClickLogo(this)"><img src="../../static/assets/BPlatform.svg" alt="BPlatform" class="logo-class"/></button>
        <form action="/welcome/buy/search" method="post">
            <div class="searchbar-class">
                <img src="../../static/assets/search.png" alt="searchIcon" class="search-icon" />
                <input type="text" placeholder="Search" class="search1-input-class" name="search-keyword" />
            </div>
        </form>
        <div class="Button-class">
            {% if email %}
            <button id="sell-button" class="solid-button-class" onclick="onClickSellButton(this)">Sell</button>
            <div class="dropdown">
                <button id="my-account-button"  class="icon-button-class my-account" onclick="onClickMyAccount()">
                    <img src="../../static/assets/AccountCircle.png" alt="my-account" class="my-account-icon" style="width: 32px;height: 32px;" />
                </button>
                <div id="myDropdown" class="dropdown-content">
                    <a href="/users/buy/my-account">My Account</a>
                    <a href="/users/buy/order-history">Order History</a>
                </div>
            </div>
            <button id="discuss-button" onclick="onClickDiscuss(this)" class="icon-button-class">
                <img src="../../static/assets/discuss.png" alt="discuss"  class="icon-class" />
            </button>
            <button id="my-cart-button"  class="icon-button-class" onclick="onClickMyCart(this)">
                <img src="../../static/assets/my-cart.png" alt="my-cart" class="icon-class" />
            </button>
            <button id="logout-button" class="icon-button-class" onclick="onClickLogOut(this)">
                <img src="../../static/assets/logout.png" alt="logout" class="icon-class" />
            </button>
            {% else %}
            <button class="button-class-login-header" onclick="login()">Login</button>
            {% endif %}
        </div>
    </div>
    <div class="whole-book-detail">
        <button class="back-button-class" onclick="onclickbackbuttonbuy()"><img src="../../static/assets/arrow.png" class="arrow-class"></button>
        <div class="image-button-class">
            <img src="../../static/assets/book 1.png" class="Book-Details-image-class" />

            <div class="book-detail-button-class">
                {% if flag == True %}
                    <button class="book-detail-class Add-to-cart" style=" background-color: Grey;"disabled>
                        Added to cart
                    </button>
                {% else %}
                    <button class="book-detail-class Add-to-cart"   onclick="{% if email %}
                                                                              addEventListener('click', () => {window.location= '/welcome/buy/{{ book.b_id }}/add-to-cart';});
                                                                             {% else %}
                                                                             addEventListener('click', () => {window.location= '/login';});
                                                                             {% endif %}
                                                                             ">
                        Add to cart
                    </button>
                {% endif %}

            </div>
        </div>
        <div class="Book-detail">
            <div class="Book-class-bifercation">
                <div class="Book-info">
                    <div class="Book-detail-heading-class">
                        <h1 class="Book-title">{{ book.b_title }}</h1>
                        <h3 class="Book-author">{{ book.b_author }}</h3>
                        <h2 class="Book-proce">{{book.b_price }} INR</h2>
                    </div>
                    <div class="Book-detail-info">
                        <div class="Info">
                            <h2 class="info-heading">Highlights:</h2>
                            <div class="Highlight-detail">
                                <div class="Highlight-single-detail">
                                    <p>Language: </p><p class="detail">{{ book.b_lang }}</p>
                                </div>
                                <div class="Highlight-single-detail">
                                    <p>Binding: </p><p class="detail"> Paperback</p>
                                </div>
                                <div class="Highlight-single-detail">
                                    <p>Publisher:</p><p class="detail">{{ book.b_publisher }}</p>
                                </div>
                                <div class="Highlight-single-detail">
                                    <p>Genre:</p><p class="detail">{{ book.b_genre }}</p>
                                </div>
                                <div class="Highlight-single-detail">
                                    <p>ISBN:</p><p class="detail">{{ book.b_isbn }}</p>
                                </div>
                                <div class="Highlight-single-detail">
                                    <p>Pages:</p><p class="detail">{{ book.b_pages}}</p>
                                </div>
                            </div>
                        </div>
                        <div class="Info">
                            <h2 class="info-heading">Services:</h2>
                            <div class="detail" style="font-size: 16px">
                                <p>7 Days Replacement Policy</p>
                                <p>Cash on Delivery available</p>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="Info Description">
                    <h2 class="info-heading">Description:</h2>
                    <p class="detail">{{ book.b_description }}</p>
                </div>
                <div class="ratings-section">
                    <h3 style="margin-left:2vh">Ratings and Review</h3>
                    <div class="rating-component">
                        <div class="average-rating">
                            {% if book.b_five %}
                            {% set five= book.b_five %}
                            {% else %}
                            {% set five =0 %}
                            {% endif %}
                            {% if book.b_four %}
                            {% set four= book.b_four %}
                            {% else %}
                            {% set four =0 %}
                            {% endif %}
                            {% if book.b_three %}
                            {% set three= book.b_three %}
                            {% else %}
                            {% set three =0 %}
                            {% endif %}
                            {% if book.b_two %}
                            {% set two= book.b_two %}
                            {% else %}
                            {% set two =0 %}
                            {% endif %}
                            {% if book.b_one %}
                            {% set one= book.b_one %}
                            {% else %}
                            {% set one =0 %}
                            {% endif %}
                            {% if five>0 or four>0 or three>0 or two>0 or one>0 %}
                            {% set average = ( 5*five + 4*four + 3*three + 2*two + 1*one)/( five + four + three + two +one) %}
                            {% else %}
                            {% set average = 0 %}
                            {% endif %}
                            {% set round_average = '%0.1f'| format(average|float) %}
                            <h3>{{ round_average }}</h3>
                            <span class="fa fa-star average-star"></span>
                        </div>
                        <div class="entire-rating">
                            <div class="rating-bar">
                                <h5 style="margin-right: 1vh" >5 star</h5>
                                {% if five>0 %}
                                {% set five_percent = (five*100)/(five + four + three + two +one) %}
                                {% else %}
                                {% set five_percent = 0 %}
                                {% endif %}
                                <div class="bar-container">
                                    <div class="bar-5" style="width: {{ five_percent }}%;"></div>
                                </div>
                                <h5 >{{ five }}</h5>
                            </div>
                            <div class="rating-bar">
                                <h5 style="margin-right: 1vh;">4 star</h5>
                                {% if four>0 %}
                                {% set four_percent = (four*100)/(five + four + three + two +one) %}
                                {% else %}
                                {% set four_percent = 0 %}
                                {% endif %}
                                <div class="bar-container">
                                    <div class="bar-4" style="width: {{ four_percent }}%;"></div>
                                </div>
                                <h5 >{{ four }}</h5>
                            </div>
                            <div class="rating-bar">
                                <h5 style="margin-right: 1vh;">3 star</h5>
                                {% if three>0 %}
                                {% set three_percent = (three*100)/(five + four + three + two +one) %}
                                {% else %}
                                {% set three_percent = 0 %}
                                {% endif %}
                                <div class="bar-container">
                                    <div class="bar-3" style="width: {{ three_percent }}%;"></div>
                                </div>
                                <h5 >{{ three }}</h5>
                            </div>
                            <div class="rating-bar">
                                <h5 style="margin-right: 1vh;">2 star</h5>
                                {% if two>0 %}
                                {% set two_percent = (two*100)/(five + four + three + two +one) %}
                                {% else %}
                                {% set two_percent = 0 %}
                                {% endif %}
                                <div class="bar-container">
                                    <div class="bar-2" style="width: {{ two_percent }}%;"></div>
                                </div>
                                <h5 >{{ two }}</h5>
                            </div>
                            <div class="rating-bar">
                                <h5 style="margin-right: 1vh;">1 star</h5>
                                {% if one>0 %}
                                {% set one_percent = (one*100)/(five + four + three + two +one) %}
                                {% else %}
                                {% set one_percent = 0 %}
                                {% endif %}
                                <div class="bar-container">
                                    <div class="bar-1" style="width: {{ one_percent }}%;"></div>
                                </div>
                                <h5 >{{ one }}</h5>
                            </div>
                        </div>
                    </div>
                    <hr class="hr-class" >
                    {% if reviewflag == False %}
                        <div class="rating-given">
                            <h3>No reviews yet</h3>
                        </div>
                        <hr class="hr-class" >
                    {% else %}
                    {% for r in book.b_review %}
                    <div class="seperate-rating">
                        <div class="rating-given">
                            {% if book.b_review[r] >= 3 %}
                            {% set color= 'green' %}
                            {% elif book.b_review[r]== 2 %}
                            {% set color= 'orange' %}
                            {% else %}
                            {% set color= 'red' %}
                            {% endif %}
                            <div class="rating-number {{ color }}">
                                <h5 style="margin: 0.5vh ;">{{ book.b_review[r] }}</h5>
                                <span class="fa fa-star star star-given"></span>
                            </div>
                            <div class="rating-description">
                                <p style="margin-top:2vh;">{{ r }}</p>
                            </div>
                        </div>
                    </div>
                    <hr class="hr-class" >
                    {% endfor %}
                    {% endif %}
                    {% if email %}
                    <form action="/welcome/buy/{{ book.b_id }}/review" method="post">
                    <div class="enter-star">
                        <input type="radio" name="star" id="star1" value="5"><label for="star1"></label>
                        <input type="radio" name="star" id="star2" value="4"><label for="star2"></label>
                        <input type="radio" name="star" id="star3" value="3"><label for="star3"></label>
                        <input type="radio" name="star" id="star4" value="2"><label for="star4"></label>
                        <input type="radio" name="star" id="star5" value="1"><label for="star5"></label>
                    </div>
                    <div class="rating-input">
                        <img src="../../static/assets/AccountCircle.png" class="account-circle-class"/>
                        <textarea rows="4" cols="70" placeholder="Enter your review" class="rating-input-class" name="rating-input-class"></textarea>
                        <button class="Post-class" type="submit">Post</button>
                    </div>
                    </form>
                    {% else %}
                    <h4><a href="/login">Login</a> to comment</h4>
                    {% endif %}
                </div>
            </div>
        </div>
    </div>
{% endblock %}