{% extends 'base.html' %}
{% block head %}
    <link rel="stylesheet" href="../static/css/base.css" />
    <link rel="stylesheet" href="../static/css/Welcome.css" />
    <link rel="Stylesheet" href="../static/css/Blog-Specific-Page.css" />
    <link rel="Stylesheet" href="../static/css/Book-Detail-Page.css" />
    <link rel="stylesheet" href="../static/css/book-list-for-sellers.css" />
    <link rel="stylesheet" href="../static/css/Buy-Contents-Main-Page.css" />
    <link rel="stylesheet" href="../static/css/Forum-Main-Page.css" />
    <link rel="stylesheet" href="../static/css/initiate-payment.css" />
    <link rel="stylesheet" href="../static/css/Login.css" />
    <link rel="stylesheet" href="../static/css/My-Account.css" />
    <link rel="Stylesheet" href="../static/css/My-cart.css" />
    <link rel="stylesheet" href="../static/css/My-Order-History.css" />
    <link rel="stylesheet" href="../static/css/Sell-Section.css" />
    <link rel="stylesheet" href="../static/css/SignUp.css" />
{% endblock %}
{% block script %}
    <script src="../static/js/Header-Functionality.js"></script>
    <script src="../static/js/My-Account-Functionality.js"></script>
    <script src="../static/js/My-Cart-Functionality.js"></script>
{% endblock %}
{% block main %}
    <div class="header-class">
        <img src="../static/assets/BPlatform.svg" alt="BPlatform" class="logo-class-sell" id='logo' onclick="onClickLogo(this)"/>
        <div class="Button-class">
            <button class="solid-button-class" id="buy-button" onclick="onClickBuyButton(this)">Buy</button>
            {% if email %}
            <button id="my-account-button" onclick="addEventListener('click', () => {window.location= '/users/sell/my-account';});" class="icon-button-class">
                <img src="../static/assets/AccountCircle.png" alt="my-account" class="icon-class my-account"/>
            </button>
            <button id="discuss-button" onclick="onClickDiscuss(this)" class="icon-button-class"><img src="../static/assets/discuss.png" alt="discuss" style="width: 32px;height: 32px;" /></button>
            <button id="my-book-list" onclick="onClickBookListButton(this)" class="icon-button-class"><img src="../static/assets/list.png" alt="my-cart"  /></button>
            <button id="logout-button" onclick="onClickLogOut(this)" class="icon-button-class" ><img src="../static/assets/logout.png" alt="logout" style="height:26px" /></button>
            {% else %}
            <button class="button-class-login-header" onclick="login()">Login</button>
            {% endif %}
        </div>
  </div>
    <article class="whole-box">
        <div class="book-class">
            <img src="../static/assets/book%201.png" class="book"/>
        </div>
        <box class="list-class">
            <form action="/welcome/sell" method="post">
            <div class="Title-class">
                <div class="setting">
                    <h4 class="head-er">Title</h4>
                    <input type="text" class="Text-class" name="book-title" >
                </div>
               <div class="setting">
                    <h4 class="head-er">Authors</h4>
                   <input type="text" class="Text-class" name="book-author">
               </div>
                <div class="setting">
                    <h4 class="head-er">ISBN</h4>
                    <input type="text" class="Text-class" name="book-isbn">
                </div>
                <div class="setting">
                    <h4 class="head-er">Language</h4>
                    <input type="text" class="Text-class" name="book-lang">
                </div>
                <div class="setting">
                    <h4 class="head-er">Pages</h4>
                    <input type="text" class="Text-class" name="book-pages">
                </div>
                 <div class="setting">
                    <h4 class="head-er">Genre</h4>
                    <input type="text" class="Text-class" name="book-genre">
                </div>
                 <div class="setting">
                    <h4 class="head-er">Publisher</h4>
                    <input type="text" class="Text-class" name="book-publisher">
                </div>
                <div class="setting">
                    <h4 class="head-er">Old/New</h4>
                    <input type="text" class="Text-class" name="book-type">
                </div>
                <div class="setting">
                    <h4 class="head-er">Price</h4>
                    <input type="text" class="Text-class" name="book-price">
                </div>
                <div class="setting">
                    <h4 class="head-er">Edition</h4>
                    <input type="text" class="Text-class" name="book-edition">
                </div>
                <div class="setting">
                    <h4 class="head-er">Quantity</h4>
                    <input type="text" class="Text-class" name="book-quantity">
                </div>
                <div class="setting">
                    <h4 class="head-er">Description</h4>
                    <textarea cols="105" rows="7" maxlength="500" class="Text-class-textarea" name="book-description"></textarea>
                </div>
            </div>
            <div class="check-class">
                <button class="button-class" type="submit"><img src="../static/assets/check%201.png" >
                </button>
                <button class="button-class">
                <img src="../static/assets/remove%201.png" >
                </button>
            </div>
            </form>
        </box>
    </article>
{% endblock %}