{% extends 'base.html' %}
{% block head %}
    <link rel="stylesheet" href="../static/css/base.css" />
    <link rel="stylesheet" href="../static/css/Welcome.css" />
    <link rel="Stylesheet" href="../static/css/Blog-Specific-Page.css" />
    <link rel="Stylesheet" href="../static/css/Book-Detail-Page.css" />
    <link rel="stylesheet" href="../static/css/book-list-for-sellers.css" />
    <link rel="stylesheet" href="../static/css/Buy-Contents-Main-Page.css" />
    <link rel="stylesheet" href="../static/css/Forum-Main-Page.css" />
    <link rel="stylesheet" href="../static/css/initiate-payment.css" />
    <link rel="stylesheet" href="../static/css/Login.css" />
    <link rel="stylesheet" href="../static/css/My-Account.css" />
    <link rel="Stylesheet" href="../static/css/My-cart.css" />
    <link rel="stylesheet" href="../static/css/My-Order-History.css" />
    <link rel="stylesheet" href="../static/css/Sell-Section.css" />
    <link rel="stylesheet" href="../static/css/SignUp.css" />
{% endblock %}
{% block script %}
    <script src="../static/js/Header-Functionality.js"></script>
    <script src="../static/js/My-Account-Functionality.js"></script>
    <script src="/static/js/My-Cart-Functionality.js"></script>
{% endblock %}
{% block main %}
<article class="whole-box">
    <a href="/welcome/buy"  class="buy-section">
        <div class="buy-container">
            <img src="../static/assets/BPlatform.svg" alt='BPlatform' class='logo-class'/>
            <div class='buy-heading-class'>
                <h1 class="heading-class" style="color:#83C5BE;">BUY</h1>
                <p class="subheading-class">Explore new dimension</p>
            </div>
        </div>
    </a>
    <div class="sell-container">
        <div class="button-class-welcome">
            {% if not email: %}
            <button class="button-class-login" onclick="login()">Login</button>
            <button class="button-class-signup" onclick="register()">Register</button>
            {% else: %}
            <button class="button-class-login my-account-welcome" onclick="navigatetomyaccount()">My Account</button>
            <button class="button-class-signup" onclick="logoutbutton()">Log Out</button>
            {% endif %}
        </div>
        <a href="/welcome/sell" class="sell-section">
            <div class='sell-heading-class'>
                <h1 class="heading-class" style="color: #EDF6F9;">SELL</h1>
                <p class="subheading-class">Contribute towards new dimension</p>
            </div>
        </a>
    </div>
</article>
{% endblock %}