
.whole-content{
    display: flex;
}

.Filters-whole-container{
    display:block;
    height: fit-content;
    background-color: rgba(229, 229, 229, 0.5);
    width:20%;
    padding: 10px;
}

.header-save{
    display:flex;
    flex-direction: row;
    justify-content:space-between;
}

.filter-save{
    align-self: center;
    margin-right: 20px;
    background-color:grey;
    color:white;
    border:none;
    border-radius: 10px;
    height:25px;
    width:60px;
}

.Filters-class{
    font-size: 22px;
}

.radio-button-class{
    margin-left:4vh;
    margin-top: 3vh;
}

.Typecollective-class{
    margin-left:3vh;
    margin-top: 1vh;
}

.checkbox-with-content{
    margin-left:2vh;
    margin-top: 1vh;
}

.subtype-class{
    font-size: 16px;
}

.Book-list-class{
    display: flex;
    flex-direction: column;
    height: 100%;
    width:80%;
    border:none;
}

.outer-box-class{
    display: flex;
     flex-direction: row;
     justify-content: space-between;
     height: fit-content;
     border: 2px solid #83C5BE;
     padding:10px;
     margin: 7px 7px 0px 7px;
 }
 
 .outer-box-class:hover{
     border: 2px solid rgba(131, 197, 190, 0.2);
     background-color: rgba(131, 197, 190, 0.2);}
 
 .image-class{
     margin: 17px 0 0 50px;
     width: 70px;
     height: 100px;
 }
 
 .book-class-buy-main{
     margin:1vh 0vh 1vh 7vh;
     display:flex;
     flex-direction:column;
 }
 
 .author-class{
     font-style: normal;
     font-weight: normal;
     font-size: 16px;
     line-height: 22px;
     margin: 5px 0px 5px 10px;
     width: 45vh;
     color: rgba(0, 0, 0, 0.75);
     }
 
 .rating-class{
     margin: 20px 0px 5px 30px;
 
 }
 
 .price-class{
     font-style: normal;
     font-weight: bold;
     font-size: 28px;
     line-height: 38px;
     color: #006D77;
     margin-top: 4vw;
 }

 
 .add-to-cart-class{
     width: 30px;
     height: 30px;
     margin: 60px;
 }

 .nobookavailable{
    align-self: center;
    margin-top: 10vh;
 }



 .checked{
    content:'\f005';
    font-family:fontAwesome;
    position: absolute;
    display: block;
    font-size: 30px;
    color: #FFA41C;

 }

 .rating-number{
    display: flex;
    flex-direction: row;
    color: white;
    padding:0.2vh;
    width: fit-content;
    margin-left: 2vw;
    margin-top: 1.5vh;
}

.star{
    color:white;
    margin-top: 0.5vh
}

.green{
     background-color: #04AA6D;
}

.orange{
     background-color: orange;
}

.red{
    background-color: #f44336;
}

.buy-page {
    color: white;
    margin-top: 0.5vh;
    margin-right: 0;
    font-size:15px;
    height: 0px;
}
