
.whole-forum{
    display:flex;
    flex-direction:row;
}

.all-blogs{
    display:flex;
    flex-direction:column;
    width:50vw;
    margin: 5vh 5vh 5vh 15vh;
    border: 1px solid #000000;
    box-sizing: border-box;
}

.one-blog{
    display:flex;
    flex-direction:row;
    margin:30px;
    justify-content:space-between;
}

.blog-content-title{
width: 35vw;
}

.blog-content{
margin-top:20px;
}

.blog-author-date{
display:flex;
flex-direction:column;
justify-content: space-between;
}

.create-blog{
    position: fixed;
    right:0;
    margin-top:25vh;
    margin-right: 9vh;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 40vh;
}

.blog-title{
    height: 5vh;
    width: 30vw;
    background: rgba(35, 2, 2, 0.04);
    border-radius: 8px;
    border: none;
    padding-left:10px;
}

.blog-description{
    resize: none;
    background: rgba(35, 2, 2, 0.04);
    border-radius: 8px;
    border: none;
    padding:10px;
}

.Post-Button{
    background: rgba(0, 0, 0, 0.25);
    border-radius: 2px;
    width: 80px;
    height: 30px;
    align-self: flex-end;
    margin-top: 15px;
    border: none;

}

.no-posts{
margin-left: 30vw;
margin-top: 40vh;
}