.login-whole-page{
background: #83C5BE;
height: 100vh;
}

.logo-class {
    width: 200px;
    height: 50px;
    margin-top: 2%;
}

.login-class {
    display: flex;
    flex-direction: column;
    align-items: center;
    border: 2px dashed white;
    margin: 7vh 0vw 7vh 30vw;
    padding: 5vh;
    height: fit-content;
    width: fit-content;
}

.Login-header-class{
    font-family: 'Rajdhani', sans-serif;
    font-size: 44px;
    margin-top: 20px;
}

.input-class-login {
    display: flex;
    flex-direction: column;
    margin: 7vh;
}

.emailpass-input{
    position: relative;
}

.icon-class-login{
    position: absolute;
    width:30px;
    height:20px;
    top: 15px;
    left:20px;
    background-color: rgba(237, 246, 249, 0.5);
}

.input-class-text{
    width: 40vh;
    height: 5vh;
    background-color: rgba(237, 246, 249, 0.5);
    border: none;
    border-radius: 30px;
    padding: 5px 5px 5px 70px;
    font-size: 18px;
}

.Email {
    margin-bottom: 4vh;

}

.lock{
    top: 9px;
    width: 29px;
    height: 29px;
    background: none;

}

::placeholder{
    color: white;
    font-family: 'Nunito', sans-serif;
}

.button-class-login-page{
    border:none;
    background: #83C5BE;
}

.Signup-class{
    margin-top: 20px;
}

