
.Two-box{
    display:flex ;
    flex-direction : row ;
    justify-content: space-evenly;
    margin-top: 7vh;
}

.box-left {
    flex-direction : column;
    display:flex;
    width: 50vw;
    height: 70vh;
    background: #FFFFFF;
    border: 1px dashed #006D77;
    box-sizing: border-box;
    margin : 35px 0px 30px 0px;
    padding : 3rem 2rem 3rem 2rem;
    justify-content: space-between;
}

.profile{
    font-size : 25px ;
    line-height : 27px;
    font-weight : bolder ;
    margin-left :9rem;
}

.Name-class{
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
}

.setting-my-account {
    display : flex;
    flex-direction : row;
    margin : 1rem 0px 0px 20px;
    justify-content: space-between;
}

.head-er-my-account{
    font-size : 20px;
    line-height : 27px;
    font-weight : bold;
    color : black;
    justify-content: right;
    margin-right: 20px;
    margin-top: 8px;
}

.Text-class-my-account {
    width: 60vh;
    height: 3vh;
    background: rgba(196, 196, 196, 0.25);
    border-radius: 25px;
    border : None ;
    padding: 10px;
}

.Text-class:focus{
    outline: none;
}

.check-class-my-account {
margin-top: 2vh;
    margin-left : 35vw;
    display: flex;
    flex-direction: column;
}

.change{
    font-size : 14px;
    line-height : 19px;
    /*text-decoration : none;*/
    color: #0088D1;
}

.change:hover{
    cursor: pointer;
}

.button-class {
    margin : 1rem 0rem 1rem 3rem ;
    background : None;
    border : None ;
    width : 40px;
    height : 40px;
}

.button-class:hover{
    cursor : pointer;
}

.back-button-class {
height:50px;
width:55px;
margin-top: 2vh;
background:none;
border: none;
margin-left: 1vw;
}

.arrow-class{
height:45px;
width:45px;
}

.modal-container {
    display: flex;
    align-items: center;
    justify-content: center;
    position: fixed;
    opacity: 0;
    pointer-events: none;
    /*padding-top: 50px;*/
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
}

.modal-container.show{
    pointer-events: auto;
    opacity: 50;
}

.modal {
    display: flex;
    flex-direction: column;
    position: relative;
    background-color: white;
    padding: 20px;
    margin: auto;
    width: 50%;
    height: 50%;
    box-shadow: 0 2px 4px rgba(0,0,0,0.2);
    -webkit-animation-name: animatetop;
    -webkit-animation-duration: 0.4s;
    animation-name: animatetop;
    animation-duration: 0.4s;
    background-image: url("../assets/popup-circle.svg");
    background-repeat: no-repeat;
    background-position-x: right;
    background-size: 40vh;

}

.modal-contents{
    border: 1px dashed #006D77;
    box-sizing: border-box;
    margin:5px;
    height:60vh;
    padding: 20px;
}

.close-btn {
      float: right;
      color: black;
      font-size: 24px;
      font-weight: bold;
    height: 35px;
    width: 35px;
    background: none;
    border:none;
    align-self: flex-end;
}

.close-btn:hover {
  color: darkgray;
}


@-webkit-keyframes animatetop {
  from {top:-300px; opacity:0}
  to {top:0; opacity:1}
}
@keyframes animatetop {
  from {top:-300px; opacity:0}
  to {top:0; opacity:1}
}



.input-boxes{
    display: flex;
    flex-direction: column;
    height:10%;
    width: 90%;
    justify-content: space-between;
    margin-left: 25px;
}

.individual{
    display: flex;
    flex-direction: row;
    justify-content: space-between;

}

.input{
    margin: 20px;
}

.change-password-head{
    font-size : 20px;
    line-height : 27px;
    font-weight : bold;
    color : black;
    justify-content: right;
    margin-right: 20px;
    margin-top: 8px;
}

.input-class{
    width: 60%;
    height: 3vh;
    background: rgba(196, 196, 196, 0.25);
    border-radius: 25px;
    border : None ;
    padding: 10px;
    /*margin: auto;*/
}

.input-class:focus{
    outline: none;
}

.button-change-class{
    /*margin: 50px 0px 00px 30vw;*/
    margin-top: 40px;
    margin-left: 27vw;
}

.Change-class{
    width: 90px;
    height: 30px;
    background: #83C5BE;
    border-radius: 50px;
    color: white;
    border: none;
    margin-right: 10px;
}

.Cancel-button{
    width: 90px;
    height: 30px;
    background: #FFFFFF;
    border: 1px solid #FE0404;
    box-sizing: border-box;
    border-radius: 50px;
    color: #FE0404;
}

.box-right {
    display : flex;
    flex-direction : column;
    margin-top : 25vh;
    width : 450px;
    height : 25vh;
    background: rgba(131, 197, 190, 0.15);
    border: 1px solid #006D77;
    box-sizing: border-box;
    padding :10px;
}

.address-my-account{
     font-weight: bolder;
     font-size: 20px;
     line-height: 27px;
     margin : 22px 0px 25px 37px
 }

.boxs{
    padding : 12px;
    display : flex;
    flex-direction : row;
    background: #FFFFFF;
    border: 1px solid #000000;
    box-sizing: border-box;
    margin : 12px 2px 5px 2px;
    justify-content: space-between;
}

.add{
    font-size:14px;
    line-height :19px;

}

.icons{
    background:none;
    margin:2px;
    border: none;
}

.icons:hover{
    cursor : pointer;
}

.addressmodal{
    height: 55%;
    padding: 20px;
}

.closeaddress{
    margin-top: -20px;
    margin-right: -20px;
}

.entry{
    margin-left : 300px;
    text-decoration : none;
    font-size : 14px;
   color: #0088D1;
}

.entry:hover{
    cursor: pointer;
}

.input-boxes-address{
    display: flex;
    flex-direction: column;
}

.addaddress{
    margin: 10px;
}

#addressbox{
margin: 2vh 0vh 2vh 17vh;
    width: 20vh;
    height: 5vh;}